{% extends 'tp.html' %}

{% block title %}
beta_基于django的多平台自动私信任务管理系统

{% endblock %}
{% block header-image %}

{% endblock %}

{% block body %}

<h1 hidden>
    标注-用于区分表名
消息发送频率限制表
</h1>

<div class="container my-container-margin">
    <div class="row">
        <div class="col s6">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                消息发送频率限制表

            </ul>
        </div>
    </div>
</div>
<div class="container my-container-margin">
    <div class="tab-content" id="myTabContent">
        
<div class="tab-pane fade show " id="t-7864-tab-pane" role="tabpanel" aria-labelledby="t-7864-tab" tabindex="0">
用户信息表
<div>
<a href="/config_busi/userinfo" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7865-tab-pane" role="tabpanel" aria-labelledby="t-7865-tab" tabindex="0">
平台账号表
<div>
<a href="/config_busi/platkwkwfkwkwormaccount" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7866-tab-pane" role="tabpanel" aria-labelledby="t-7866-tab" tabindex="0">
私信模板表
<div>
<a href="/config_busi/messagetemplate" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7867-tab-pane" role="tabpanel" aria-labelledby="t-7867-tab" tabindex="0">
任务管理表
<div>
<a href="/config_busi/tkwkwaskmanagement" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7868-tab-pane" role="tabpanel" aria-labelledby="t-7868-tab" tabindex="0">
任务执行记录表
<div>
<a href="/config_busi/tkwkwaskexecutionreckwkword" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7869-tab-pane" role="tabpanel" aria-labelledby="t-7869-tab" tabindex="0">
任务状态表
<div>
<a href="/config_busi/tkwkwaskstatus" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7870-tab-pane" role="tabpanel" aria-labelledby="t-7870-tab" tabindex="0">
定时任务表
<div>
<a href="/config_busi/scheduledtkwkwask" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7871-tab-pane" role="tabpanel" aria-labelledby="t-7871-tab" tabindex="0">
消息发送记录表
<div>
<a href="/config_busi/messagesendreckwkword" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7872-tab-pane" role="tabpanel" aria-labelledby="t-7872-tab" tabindex="0">
消息接收记录表
<div>
<a href="/config_busi/messagereceivereckwkword" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7873-tab-pane" role="tabpanel" aria-labelledby="t-7873-tab" tabindex="0">
用户偏好设置表
<div>
<a href="/config_busi/userpreference" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7874-tab-pane" role="tabpanel" aria-labelledby="t-7874-tab" tabindex="0">
账号绑定关系表
<div>
<a href="/config_busi/accountbkwkwindkwkwing" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7875-tab-pane" role="tabpanel" aria-labelledby="t-7875-tab" tabindex="0">
消息内容审核表
<div>
<a href="/config_busi/messagecontentreview" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7876-tab-pane" role="tabpanel" aria-labelledby="t-7876-tab" tabindex="0">
消息发送失败日志表
<div>
<a href="/config_busi/messagesendfailurelog" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7877-tab-pane" role="tabpanel" aria-labelledby="t-7877-tab" tabindex="0">
消息发送成功日志表
<div>
<a href="/config_busi/messagesendsuccesslog" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7878-tab-pane" role="tabpanel" aria-labelledby="t-7878-tab" tabindex="0">
消息模板分类表
<div>
<a href="/config_busi/messagetemplatecategkwkwory" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7879-tab-pane" role="tabpanel" aria-labelledby="t-7879-tab" tabindex="0">
消息模板标签表
<div>
<a href="/config_busi/messagetemplatetag" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7880-tab-pane" role="tabpanel" aria-labelledby="t-7880-tab" tabindex="0">
用户权限表
<div>
<a href="/config_busi/userpermkwkwission" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7881-tab-pane" role="tabpanel" aria-labelledby="t-7881-tab" tabindex="0">
系统配置表
<div>
<a href="/config_busi/systemconfig" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7882-tab-pane" role="tabpanel" aria-labelledby="t-7882-tab" tabindex="0">
通知推送表
<div>
<a href="/config_busi/notkwkwificationpush" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7883-tab-pane" role="tabpanel" aria-labelledby="t-7883-tab" tabindex="0">
消息队列表
<div>
<a href="/config_busi/messagequeue" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7884-tab-pane" role="tabpanel" aria-labelledby="t-7884-tab" tabindex="0">
消息队列状态表
<div>
<a href="/config_busi/messagequeuestatus" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7885-tab-pane" role="tabpanel" aria-labelledby="t-7885-tab" tabindex="0">
消息重试记录表
<div>
<a href="/config_busi/messagerekwkwtryreckwkword" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7886-tab-pane" role="tabpanel" aria-labelledby="t-7886-tab" tabindex="0">
账号黑名单表
<div>
<a href="/config_busi/accountblacklkwkwist" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7887-tab-pane" role="tabpanel" aria-labelledby="t-7887-tab" tabindex="0">
用户反馈表
<div>
<a href="/config_busi/userfeedback" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7888-tab-pane" role="tabpanel" aria-labelledby="t-7888-tab" tabindex="0">
账号安全日志表
<div>
<a href="/config_busi/accountsecuritylog" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7889-tab-pane" role="tabpanel" aria-labelledby="t-7889-tab" tabindex="0">
消息模板编辑历史表
<div>
<a href="/config_busi/messagetemplateedithkwkwistkwkwory" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7890-tab-pane" role="tabpanel" aria-labelledby="t-7890-tab" tabindex="0">
消息模板审核记录表
<div>
<a href="/config_busi/messagetemplatereviewreckwkword" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7891-tab-pane" role="tabpanel" aria-labelledby="t-7891-tab" tabindex="0">
消息发送策略表
<div>
<a href="/config_busi/messagesendstrategy" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7892-tab-pane" role="tabpanel" aria-labelledby="t-7892-tab" tabindex="0">
消息发送频率限制表
<div>
<a href="/config_busi/messagesendfrequencylimit" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7893-tab-pane" role="tabpanel" aria-labelledby="t-7893-tab" tabindex="0">
消息发送优先级表
<div>
<a href="/config_busi/messagesendprikwkwority" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7894-tab-pane" role="tabpanel" aria-labelledby="t-7894-tab" tabindex="0">
消息模板使用统计表
<div>
<a href="/config_busi/messagetemplateusagestatkwkwistics" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7895-tab-pane" role="tabpanel" aria-labelledby="t-7895-tab" tabindex="0">
系统管理员
<div>
<a href="/config_busi/supermanager" target="_blank">
查看数据
</a>
</div>
</div>


    </div>
</div>


        {% if mcauthfield_id.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="id" class="form-label form-group">唯一标识符</label>

</div>
        {% endif %}

        {% if mcauthfield_platkwkwfkwkwormid.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="platkwkwfkwkwormid" class="form-label form-group">平台ID关联到不同平台的用于区分不同平台的发送频率限制</label>

<select class="form-select form-select-lg mb-3" name="platkwkwfkwkwormid" id="platkwkwfkwkwormid" {% if not mcauthfield_platkwkwfkwkwormid.mcisblank %}required {% endif %} data-name="insert"> <option value="" selected>未选择</option> {% for record in data_mc_platkwkwfkwkwormaccount_53334 %} 
<option value="{{record.value}}">

<p>{{record.value}}:{{record.label }}</p>

</option>
 {% endfor %}
</select>

</div>
        {% endif %}

        {% if mcauthfield_userid.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="userid" class="form-label form-group">用户ID关联到用户示该限制是针对哪个用户的</label>

<select class="form-select form-select-lg mb-3" name="userid" id="userid" {% if not mcauthfield_userid.mcisblank %}required {% endif %} data-name="insert"> <option value="" selected>未选择</option> {% for record in data_mc_userinfo_53335 %} 
<option value="{{record.value}}">

<p>{{record.value}}:{{record.label }}</p>

</option>
 {% endfor %}
</select>

</div>
        {% endif %}

        {% if mcauthfield_messagetype.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="messagetype" class="form-label form-group">消息类型如文本、图片、视频等用于区分不同类型的消息发送频率</label>

<input type="file" class="form-control form-control-lg"accept="image/*" name="messagetype" id="messagetype" onchange="uploadfile(e)" {% if not mcauthfield_messagetype.mcisblank %}required {% endif %}data-name="insert">

</div>
        {% endif %}

        {% if mcauthfield_maxsendcount.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="maxsendcount" class="form-label form-group">最大发送次数在指定时间周期内允许的最大发送次数</label>

</div>
        {% endif %}

        {% if mcauthfield_timeperiod.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="timeperiod" class="form-label form-group">时间周期如每天、每小时等示上述最大发送次数的时间范围</label>

</div>
        {% endif %}

        {% if mcauthfield_lkwkwastsendtime.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="lkwkwastsendtime" class="form-label form-group">上次发送时间记录最后一次发送消息的时间用于计算下一次发送的时间</label>

</div>
        {% endif %}

        {% if mcauthfield_resettime.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="resettime" class="form-label form-group">重置时间时间周期的开始时间用于重置发送次数计数器</label>

</div>
        {% endif %}

        {% if mcauthfield_status.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="status" class="form-label form-group">状态如启用、禁用示该频率限制是否生效</label>

<select class="form-select form-select-lg mb-3" name="status" id="status" {% if not mcauthfield_status.mcisblank %}required {% endif %} data-name="insert">
<option value="True" selected >是</option>
<option value="False">否</option>
</select>

</div>
        {% endif %}

        {% if mcauthfield_kwkwnote.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="kwkwnote" class="form-label form-group">备注用于记录该频率限制的其他相关信息或说明</label>

<input type="text" class="form-control form-control-lg" name="kwkwnote" id="kwkwnote"{% if not mcauthfield_kwkwnote.mcisblank %}required {% endif %}data-name="insert">

</div>
        {% endif %}

{% endblock %}

{% block footer %}

CopyRight ©beta_基于django的多平台自动私信任务管理系统 vm772_58dd091a279b5392

{% endblock %}

{% block script-footer %}

{% endblock %}

