{% extends 'tp.html' %}

{% block title %}
beta_基于django的多平台自动私信任务管理系统

{% endblock %}
{% block header-image %}

{% endblock %}

{% block body %}

<h1 hidden>
    标注-用于区分表名
消息发送失败日志表
</h1>

<div class="container my-container-margin">
    <div class="row">
        <div class="col s6">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                消息发送失败日志表

            </ul>
        </div>
    </div>
</div>
<div class="container my-container-margin">
    <div class="tab-content" id="myTabContent">
        
<div class="tab-pane fade show " id="t-7864-tab-pane" role="tabpanel" aria-labelledby="t-7864-tab" tabindex="0">
用户信息表
<div>
<a href="/config_busi/userinfo" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7865-tab-pane" role="tabpanel" aria-labelledby="t-7865-tab" tabindex="0">
平台账号表
<div>
<a href="/config_busi/platkwkwfkwkwormaccount" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7866-tab-pane" role="tabpanel" aria-labelledby="t-7866-tab" tabindex="0">
私信模板表
<div>
<a href="/config_busi/messagetemplate" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7867-tab-pane" role="tabpanel" aria-labelledby="t-7867-tab" tabindex="0">
任务管理表
<div>
<a href="/config_busi/tkwkwaskmanagement" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7868-tab-pane" role="tabpanel" aria-labelledby="t-7868-tab" tabindex="0">
任务执行记录表
<div>
<a href="/config_busi/tkwkwaskexecutionreckwkword" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7869-tab-pane" role="tabpanel" aria-labelledby="t-7869-tab" tabindex="0">
任务状态表
<div>
<a href="/config_busi/tkwkwaskstatus" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7870-tab-pane" role="tabpanel" aria-labelledby="t-7870-tab" tabindex="0">
定时任务表
<div>
<a href="/config_busi/scheduledtkwkwask" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7871-tab-pane" role="tabpanel" aria-labelledby="t-7871-tab" tabindex="0">
消息发送记录表
<div>
<a href="/config_busi/messagesendreckwkword" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7872-tab-pane" role="tabpanel" aria-labelledby="t-7872-tab" tabindex="0">
消息接收记录表
<div>
<a href="/config_busi/messagereceivereckwkword" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7873-tab-pane" role="tabpanel" aria-labelledby="t-7873-tab" tabindex="0">
用户偏好设置表
<div>
<a href="/config_busi/userpreference" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7874-tab-pane" role="tabpanel" aria-labelledby="t-7874-tab" tabindex="0">
账号绑定关系表
<div>
<a href="/config_busi/accountbkwkwindkwkwing" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7875-tab-pane" role="tabpanel" aria-labelledby="t-7875-tab" tabindex="0">
消息内容审核表
<div>
<a href="/config_busi/messagecontentreview" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7876-tab-pane" role="tabpanel" aria-labelledby="t-7876-tab" tabindex="0">
消息发送失败日志表
<div>
<a href="/config_busi/messagesendfailurelog" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7877-tab-pane" role="tabpanel" aria-labelledby="t-7877-tab" tabindex="0">
消息发送成功日志表
<div>
<a href="/config_busi/messagesendsuccesslog" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7878-tab-pane" role="tabpanel" aria-labelledby="t-7878-tab" tabindex="0">
消息模板分类表
<div>
<a href="/config_busi/messagetemplatecategkwkwory" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7879-tab-pane" role="tabpanel" aria-labelledby="t-7879-tab" tabindex="0">
消息模板标签表
<div>
<a href="/config_busi/messagetemplatetag" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7880-tab-pane" role="tabpanel" aria-labelledby="t-7880-tab" tabindex="0">
用户权限表
<div>
<a href="/config_busi/userpermkwkwission" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7881-tab-pane" role="tabpanel" aria-labelledby="t-7881-tab" tabindex="0">
系统配置表
<div>
<a href="/config_busi/systemconfig" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7882-tab-pane" role="tabpanel" aria-labelledby="t-7882-tab" tabindex="0">
通知推送表
<div>
<a href="/config_busi/notkwkwificationpush" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7883-tab-pane" role="tabpanel" aria-labelledby="t-7883-tab" tabindex="0">
消息队列表
<div>
<a href="/config_busi/messagequeue" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7884-tab-pane" role="tabpanel" aria-labelledby="t-7884-tab" tabindex="0">
消息队列状态表
<div>
<a href="/config_busi/messagequeuestatus" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7885-tab-pane" role="tabpanel" aria-labelledby="t-7885-tab" tabindex="0">
消息重试记录表
<div>
<a href="/config_busi/messagerekwkwtryreckwkword" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7886-tab-pane" role="tabpanel" aria-labelledby="t-7886-tab" tabindex="0">
账号黑名单表
<div>
<a href="/config_busi/accountblacklkwkwist" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7887-tab-pane" role="tabpanel" aria-labelledby="t-7887-tab" tabindex="0">
用户反馈表
<div>
<a href="/config_busi/userfeedback" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7888-tab-pane" role="tabpanel" aria-labelledby="t-7888-tab" tabindex="0">
账号安全日志表
<div>
<a href="/config_busi/accountsecuritylog" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7889-tab-pane" role="tabpanel" aria-labelledby="t-7889-tab" tabindex="0">
消息模板编辑历史表
<div>
<a href="/config_busi/messagetemplateedithkwkwistkwkwory" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7890-tab-pane" role="tabpanel" aria-labelledby="t-7890-tab" tabindex="0">
消息模板审核记录表
<div>
<a href="/config_busi/messagetemplatereviewreckwkword" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7891-tab-pane" role="tabpanel" aria-labelledby="t-7891-tab" tabindex="0">
消息发送策略表
<div>
<a href="/config_busi/messagesendstrategy" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7892-tab-pane" role="tabpanel" aria-labelledby="t-7892-tab" tabindex="0">
消息发送频率限制表
<div>
<a href="/config_busi/messagesendfrequencylimit" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7893-tab-pane" role="tabpanel" aria-labelledby="t-7893-tab" tabindex="0">
消息发送优先级表
<div>
<a href="/config_busi/messagesendprikwkwority" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7894-tab-pane" role="tabpanel" aria-labelledby="t-7894-tab" tabindex="0">
消息模板使用统计表
<div>
<a href="/config_busi/messagetemplateusagestatkwkwistics" target="_blank">
查看数据
</a>
</div>
</div>

<div class="tab-pane fade show " id="t-7895-tab-pane" role="tabpanel" aria-labelledby="t-7895-tab" tabindex="0">
系统管理员
<div>
<a href="/config_busi/supermanager" target="_blank">
查看数据
</a>
</div>
</div>


    </div>
</div>


        {% if mcauthfield_id.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="id" class="form-label form-group">唯一标识符</label>

</div>
        {% endif %}

        {% if mcauthfield_messageid.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="messageid" class="form-label form-group">消息ID</label>

</div>
        {% endif %}

        {% if mcauthfield_platkwkwfkwkworm.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="platkwkwfkwkworm" class="form-label form-group">平台名称</label>

<input type="text" class="form-control form-control-lg" name="platkwkwfkwkworm" id="platkwkwfkwkworm"{% if not mcauthfield_platkwkwfkwkworm.mcisblank %}required {% endif %}data-name="insert">

</div>
        {% endif %}

        {% if mcauthfield_userid.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="userid" class="form-label form-group">用户ID</label>

</div>
        {% endif %}

        {% if mcauthfield_targetuserid.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="targetuserid" class="form-label form-group">目标用户ID</label>

</div>
        {% endif %}

        {% if mcauthfield_sendtime.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="sendtime" class="form-label form-group">发送时间</label>

</div>
        {% endif %}

        {% if mcauthfield_failurerekwkwason.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="failurerekwkwason" class="form-label form-group">失败原因</label>

<input type="text" class="form-control form-control-lg" name="failurerekwkwason" id="failurerekwkwason"{% if not mcauthfield_failurerekwkwason.mcisblank %}required {% endif %}data-name="insert">

</div>
        {% endif %}

        {% if mcauthfield_rekwkwtrycount.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="rekwkwtrycount" class="form-label form-group">重试次数</label>

<input type="text" class="form-control form-control-lg" name="rekwkwtrycount" id="rekwkwtrycount"{% if not mcauthfield_rekwkwtrycount.mcisblank %}required {% endif %}data-name="insert">

</div>
        {% endif %}

        {% if mcauthfield_lkwkwastrekwkwtrytime.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="lkwkwastrekwkwtrytime" class="form-label form-group">上次重试时间</label>

</div>
        {% endif %}

        {% if mcauthfield_kwkwisresolved.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="kwkwisresolved" class="form-label form-group">是否已解决</label>

<select class="form-select form-select-lg mb-3" name="kwkwisresolved" id="kwkwisresolved" {% if not mcauthfield_kwkwisresolved.mcisblank %}required {% endif %} data-name="insert">
<option value="True" selected >是</option>
<option value="False">否</option>
</select>

</div>
        {% endif %}

{% endblock %}

{% block footer %}

CopyRight ©beta_基于django的多平台自动私信任务管理系统 vm772_58dd091a279b5392

{% endblock %}

{% block script-footer %}

{% endblock %}

