<style>.default-echart-border{
    color: #a2beb2;
    border-color: #033318;
    font-size: 0.9rem;
    font-weight: 100;
    font-style: normal;
    border: 1px solid rgba(153, 102, 255, 1);
    margin: 4px;
    border-radius: 9px;
    box-shadow: 3px rgba(255, 159, 64, 1);
    padding: 3px;
    background-color: #c8a1f9;
}.btn{
    color: #d1c9aa;
    border-color: #182c20;
    font-size: 2.2rem;
    font-weight: 500;
    font-style: oblique;
    border: 1px solid rgba(255, 159, 64, 1);
    margin: 6px;
    border-radius: 11px;
    box-shadow: 0px rgba(75, 192, 192, 1);
    padding: 1px;
    background-color: #eee2d6;
}.my-header{
    color: black;
    border-color: #0c2209;
    font-size: 2.5rem;
    font-weight: 900;
    font-style: italic;
    border: 1px solid rgba(54, 162, 235, 1);
    margin: 4px;
    border-radius: 8px;
    box-shadow: 3px rgba(153, 102, 255, 1);
    padding: 3px;
    background-color: white;
}.my-container-margin{
    color: #e0fdb9;
    border-color: #49224d;
    font-size: 1.2rem;
    font-weight: 400;
    font-style: normal;
    border: 1px solid rgba(75, 192, 192, 1);
    margin: 2px;
    border-radius: 11px;
    box-shadow: 1px rgba(75, 192, 192, 1);
    padding: 1px;
    background-color: #c5ccb5;
}.table{
    color: #dcbca7;
    border-color: #004008;
    font-size: 2.6rem;
    font-weight: 600;
    font-style: italic;
    border: 1px solid rgba(75, 192, 192, 1);
    margin: 4px;
    border-radius: 5px;
    box-shadow: 0px rgba(54, 162, 235, 1);
    padding: 3px;
    background-color: #9edce3;
}.form-control{
    color: #e1a9b3;
    border-color: #3f4411;
    font-size: 1.2rem;
    font-weight: 500;
    font-style: normal;
    border: 1px solid rgba(153, 102, 255, 1);
    margin: 5px;
    border-radius: 4px;
    box-shadow: 2px rgba(255, 159, 64, 1);
    padding: 4px;
    background-color: #e7c2ca;
}.form-control-label{
    color: #9db3c6;
    border-color: #1c2634;
    font-size: 1.4rem;
    font-weight: 700;
    font-style: italic;
    border: 1px solid rgba(153, 102, 255, 1);
    margin: 8px;
    border-radius: 7px;
    box-shadow: 2px rgba(255, 206, 86, 1);
    padding: 4px;
    background-color: #de9fce;
}.form-control-input{
    color: #94d8ba;
    border-color: #1e2517;
    font-size: 1.2rem;
    font-weight: 400;
    font-style: oblique;
    border: 1px solid rgba(255, 206, 86, 1);
    margin: 2px;
    border-radius: 9px;
    box-shadow: 0px rgba(255, 99, 132, 1);
    padding: 4px;
    background-color: #d9a9a2;
}</style>