<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>beta_基于django的多平台自动私信任务管理系统</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/echarts.js"></script>
    <style>
      body {
        color: black;
      }
      .bkimg {
        background-image: url('/static/imgs/default.png');
        background-repeat: no-repeat;
        background-size: cover;
        filter: opacity(90%);
        filter: brightness(10%);
        overflow: hidden;
      }
      .myechart_size {
        height: 450px;
      }
      .myechart_size-height-full {
        with: 95%;
        height: 480px;
      }
    </style>
    
    {% include 'config_visual/function_echart.html' %}
  </head>
  <body>
    <div class="bg-image" style="{% include 'config_visual/background.html' %}">
      <div class="row">
        <div class="d-flex justify-content-center">
          <h3 style="color:black; font-size: 30px; font-weight: bold;">beta_基于django的多平台自动私信任务管理系统 消息发送频率限制表(messagesendfrequencylimit)</h3>
        </div>
      </div>
      {% csrf_token %}














<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagesendfrequencylimit_maxsendcount_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 消息发送频率限制表 最大发送次数在指定时间周期内允许的最大发送次数 ******************** pie_v2***/ init_echart("echart_messagesendfrequencylimit_maxsendcount_pie_v2",'messagesendfrequencylimit.maxsendcount_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagesendfrequencylimit_maxsendcount_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 消息发送频率限制表 最大发送次数在指定时间周期内允许的最大发送次数 ******************** pie_v1***/ init_echart("echart_messagesendfrequencylimit_maxsendcount_pie_v1",'messagesendfrequencylimit.maxsendcount_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagesendfrequencylimit_maxsendcount_pie" class="myechart_size"></div></div></div>
<script>/*** 消息发送频率限制表 最大发送次数在指定时间周期内允许的最大发送次数 ******************** pie***/ init_echart("echart_messagesendfrequencylimit_maxsendcount_pie",'messagesendfrequencylimit.maxsendcount_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_messagesendfrequencylimit_maxsendcount_line" class="myechart_size"></div></div></div>
<script>/*** 消息发送频率限制表 最大发送次数在指定时间周期内允许的最大发送次数 ******************** line***/ init_echart("echart_messagesendfrequencylimit_maxsendcount_line",'messagesendfrequencylimit.maxsendcount_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagesendfrequencylimit_maxsendcount_bar" class="myechart_size"></div></div></div>
<script>/*** 消息发送频率限制表 最大发送次数在指定时间周期内允许的最大发送次数 ******************** bar***/ init_echart("echart_messagesendfrequencylimit_maxsendcount_bar",'messagesendfrequencylimit.maxsendcount_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagesendfrequencylimit_maxsendcount_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 消息发送频率限制表 最大发送次数在指定时间周期内允许的最大发送次数 ******************** bar_v1***/ init_echart("echart_messagesendfrequencylimit_maxsendcount_bar_v1",'messagesendfrequencylimit.maxsendcount_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagesendfrequencylimit_timeperiod_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 消息发送频率限制表 时间周期如每天、每小时等示上述最大发送次数的时间范围 ******************** pie_v2***/ init_echart("echart_messagesendfrequencylimit_timeperiod_pie_v2",'messagesendfrequencylimit.timeperiod_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagesendfrequencylimit_timeperiod_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 消息发送频率限制表 时间周期如每天、每小时等示上述最大发送次数的时间范围 ******************** pie_v1***/ init_echart("echart_messagesendfrequencylimit_timeperiod_pie_v1",'messagesendfrequencylimit.timeperiod_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagesendfrequencylimit_timeperiod_pie" class="myechart_size"></div></div></div>
<script>/*** 消息发送频率限制表 时间周期如每天、每小时等示上述最大发送次数的时间范围 ******************** pie***/ init_echart("echart_messagesendfrequencylimit_timeperiod_pie",'messagesendfrequencylimit.timeperiod_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_messagesendfrequencylimit_timeperiod_line" class="myechart_size"></div></div></div>
<script>/*** 消息发送频率限制表 时间周期如每天、每小时等示上述最大发送次数的时间范围 ******************** line***/ init_echart("echart_messagesendfrequencylimit_timeperiod_line",'messagesendfrequencylimit.timeperiod_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagesendfrequencylimit_timeperiod_bar" class="myechart_size"></div></div></div>
<script>/*** 消息发送频率限制表 时间周期如每天、每小时等示上述最大发送次数的时间范围 ******************** bar***/ init_echart("echart_messagesendfrequencylimit_timeperiod_bar",'messagesendfrequencylimit.timeperiod_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagesendfrequencylimit_timeperiod_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 消息发送频率限制表 时间周期如每天、每小时等示上述最大发送次数的时间范围 ******************** bar_v1***/ init_echart("echart_messagesendfrequencylimit_timeperiod_bar_v1",'messagesendfrequencylimit.timeperiod_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagesendfrequencylimit_lkwkwastsendtime_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 消息发送频率限制表 上次发送时间记录最后一次发送消息的时间用于计算下一次发送的时间 ******************** pie_v2***/ init_echart("echart_messagesendfrequencylimit_lkwkwastsendtime_pie_v2",'messagesendfrequencylimit.lkwkwastsendtime_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagesendfrequencylimit_lkwkwastsendtime_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 消息发送频率限制表 上次发送时间记录最后一次发送消息的时间用于计算下一次发送的时间 ******************** pie_v1***/ init_echart("echart_messagesendfrequencylimit_lkwkwastsendtime_pie_v1",'messagesendfrequencylimit.lkwkwastsendtime_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagesendfrequencylimit_lkwkwastsendtime_pie" class="myechart_size"></div></div></div>
<script>/*** 消息发送频率限制表 上次发送时间记录最后一次发送消息的时间用于计算下一次发送的时间 ******************** pie***/ init_echart("echart_messagesendfrequencylimit_lkwkwastsendtime_pie",'messagesendfrequencylimit.lkwkwastsendtime_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_messagesendfrequencylimit_lkwkwastsendtime_line" class="myechart_size"></div></div></div>
<script>/*** 消息发送频率限制表 上次发送时间记录最后一次发送消息的时间用于计算下一次发送的时间 ******************** line***/ init_echart("echart_messagesendfrequencylimit_lkwkwastsendtime_line",'messagesendfrequencylimit.lkwkwastsendtime_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagesendfrequencylimit_lkwkwastsendtime_bar" class="myechart_size"></div></div></div>
<script>/*** 消息发送频率限制表 上次发送时间记录最后一次发送消息的时间用于计算下一次发送的时间 ******************** bar***/ init_echart("echart_messagesendfrequencylimit_lkwkwastsendtime_bar",'messagesendfrequencylimit.lkwkwastsendtime_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagesendfrequencylimit_lkwkwastsendtime_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 消息发送频率限制表 上次发送时间记录最后一次发送消息的时间用于计算下一次发送的时间 ******************** bar_v1***/ init_echart("echart_messagesendfrequencylimit_lkwkwastsendtime_bar_v1",'messagesendfrequencylimit.lkwkwastsendtime_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagesendfrequencylimit_resettime_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 消息发送频率限制表 重置时间时间周期的开始时间用于重置发送次数计数器 ******************** pie_v2***/ init_echart("echart_messagesendfrequencylimit_resettime_pie_v2",'messagesendfrequencylimit.resettime_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagesendfrequencylimit_resettime_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 消息发送频率限制表 重置时间时间周期的开始时间用于重置发送次数计数器 ******************** pie_v1***/ init_echart("echart_messagesendfrequencylimit_resettime_pie_v1",'messagesendfrequencylimit.resettime_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagesendfrequencylimit_resettime_pie" class="myechart_size"></div></div></div>
<script>/*** 消息发送频率限制表 重置时间时间周期的开始时间用于重置发送次数计数器 ******************** pie***/ init_echart("echart_messagesendfrequencylimit_resettime_pie",'messagesendfrequencylimit.resettime_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_messagesendfrequencylimit_resettime_line" class="myechart_size"></div></div></div>
<script>/*** 消息发送频率限制表 重置时间时间周期的开始时间用于重置发送次数计数器 ******************** line***/ init_echart("echart_messagesendfrequencylimit_resettime_line",'messagesendfrequencylimit.resettime_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagesendfrequencylimit_resettime_bar" class="myechart_size"></div></div></div>
<script>/*** 消息发送频率限制表 重置时间时间周期的开始时间用于重置发送次数计数器 ******************** bar***/ init_echart("echart_messagesendfrequencylimit_resettime_bar",'messagesendfrequencylimit.resettime_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagesendfrequencylimit_resettime_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 消息发送频率限制表 重置时间时间周期的开始时间用于重置发送次数计数器 ******************** bar_v1***/ init_echart("echart_messagesendfrequencylimit_resettime_bar_v1",'messagesendfrequencylimit.resettime_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>






<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagesendfrequencylimit_kwkwnote_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 消息发送频率限制表 备注用于记录该频率限制的其他相关信息或说明 ******************** pie_v2***/ init_echart("echart_messagesendfrequencylimit_kwkwnote_pie_v2",'messagesendfrequencylimit.kwkwnote_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagesendfrequencylimit_kwkwnote_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 消息发送频率限制表 备注用于记录该频率限制的其他相关信息或说明 ******************** pie_v1***/ init_echart("echart_messagesendfrequencylimit_kwkwnote_pie_v1",'messagesendfrequencylimit.kwkwnote_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagesendfrequencylimit_kwkwnote_pie" class="myechart_size"></div></div></div>
<script>/*** 消息发送频率限制表 备注用于记录该频率限制的其他相关信息或说明 ******************** pie***/ init_echart("echart_messagesendfrequencylimit_kwkwnote_pie",'messagesendfrequencylimit.kwkwnote_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_messagesendfrequencylimit_kwkwnote_line" class="myechart_size"></div></div></div>
<script>/*** 消息发送频率限制表 备注用于记录该频率限制的其他相关信息或说明 ******************** line***/ init_echart("echart_messagesendfrequencylimit_kwkwnote_line",'messagesendfrequencylimit.kwkwnote_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagesendfrequencylimit_kwkwnote_bar" class="myechart_size"></div></div></div>
<script>/*** 消息发送频率限制表 备注用于记录该频率限制的其他相关信息或说明 ******************** bar***/ init_echart("echart_messagesendfrequencylimit_kwkwnote_bar",'messagesendfrequencylimit.kwkwnote_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagesendfrequencylimit_kwkwnote_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 消息发送频率限制表 备注用于记录该频率限制的其他相关信息或说明 ******************** bar_v1***/ init_echart("echart_messagesendfrequencylimit_kwkwnote_bar_v1",'messagesendfrequencylimit.kwkwnote_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



    </div>
  </body>
</html>
