<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>beta_基于django的多平台自动私信任务管理系统</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/echarts.js"></script>
    <style>
      body {
        color: black;
      }
      .bkimg {
        background-image: url('/static/imgs/default.png');
        background-repeat: no-repeat;
        background-size: cover;
        filter: opacity(90%);
        filter: brightness(10%);
        overflow: hidden;
      }
      .myechart_size {
        height: 450px;
      }
      .myechart_size-height-full {
        with: 95%;
        height: 480px;
      }
    </style>
    
    {% include 'config_visual/function_echart.html' %}
  </head>
  <body>
    <div class="bg-image" style="{% include 'config_visual/background.html' %}">
      <div class="row">
        <div class="d-flex justify-content-center">
          <h3 style="color:black; font-size: 30px; font-weight: bold;">beta_基于django的多平台自动私信任务管理系统 定时任务表(scheduledtkwkwask)</h3>
        </div>
      </div>
      {% csrf_token %}





<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_tkwkwaskname_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 任务名称 ******************** pie_v2***/ init_echart("echart_scheduledtkwkwask_tkwkwaskname_pie_v2",'scheduledtkwkwask.tkwkwaskname_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_tkwkwaskname_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 任务名称 ******************** pie_v1***/ init_echart("echart_scheduledtkwkwask_tkwkwaskname_pie_v1",'scheduledtkwkwask.tkwkwaskname_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_tkwkwaskname_pie" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 任务名称 ******************** pie***/ init_echart("echart_scheduledtkwkwask_tkwkwaskname_pie",'scheduledtkwkwask.tkwkwaskname_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_tkwkwaskname_line" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 任务名称 ******************** line***/ init_echart("echart_scheduledtkwkwask_tkwkwaskname_line",'scheduledtkwkwask.tkwkwaskname_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_tkwkwaskname_bar" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 任务名称 ******************** bar***/ init_echart("echart_scheduledtkwkwask_tkwkwaskname_bar",'scheduledtkwkwask.tkwkwaskname_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_tkwkwaskname_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 任务名称 ******************** bar_v1***/ init_echart("echart_scheduledtkwkwask_tkwkwaskname_bar_v1",'scheduledtkwkwask.tkwkwaskname_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_targetplatkwkwfkwkworm_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 目标平台 ******************** pie_v2***/ init_echart("echart_scheduledtkwkwask_targetplatkwkwfkwkworm_pie_v2",'scheduledtkwkwask.targetplatkwkwfkwkworm_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_targetplatkwkwfkwkworm_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 目标平台 ******************** pie_v1***/ init_echart("echart_scheduledtkwkwask_targetplatkwkwfkwkworm_pie_v1",'scheduledtkwkwask.targetplatkwkwfkwkworm_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_targetplatkwkwfkwkworm_pie" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 目标平台 ******************** pie***/ init_echart("echart_scheduledtkwkwask_targetplatkwkwfkwkworm_pie",'scheduledtkwkwask.targetplatkwkwfkwkworm_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_targetplatkwkwfkwkworm_line" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 目标平台 ******************** line***/ init_echart("echart_scheduledtkwkwask_targetplatkwkwfkwkworm_line",'scheduledtkwkwask.targetplatkwkwfkwkworm_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_targetplatkwkwfkwkworm_bar" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 目标平台 ******************** bar***/ init_echart("echart_scheduledtkwkwask_targetplatkwkwfkwkworm_bar",'scheduledtkwkwask.targetplatkwkwfkwkworm_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_targetplatkwkwfkwkworm_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 目标平台 ******************** bar_v1***/ init_echart("echart_scheduledtkwkwask_targetplatkwkwfkwkworm_bar_v1",'scheduledtkwkwask.targetplatkwkwfkwkworm_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_scheduletime_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 计划执行时间 ******************** pie_v2***/ init_echart("echart_scheduledtkwkwask_scheduletime_pie_v2",'scheduledtkwkwask.scheduletime_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_scheduletime_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 计划执行时间 ******************** pie_v1***/ init_echart("echart_scheduledtkwkwask_scheduletime_pie_v1",'scheduledtkwkwask.scheduletime_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_scheduletime_pie" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 计划执行时间 ******************** pie***/ init_echart("echart_scheduledtkwkwask_scheduletime_pie",'scheduledtkwkwask.scheduletime_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_scheduletime_line" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 计划执行时间 ******************** line***/ init_echart("echart_scheduledtkwkwask_scheduletime_line",'scheduledtkwkwask.scheduletime_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_scheduletime_bar" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 计划执行时间 ******************** bar***/ init_echart("echart_scheduledtkwkwask_scheduletime_bar",'scheduledtkwkwask.scheduletime_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_scheduletime_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 计划执行时间 ******************** bar_v1***/ init_echart("echart_scheduledtkwkwask_scheduletime_bar_v1",'scheduledtkwkwask.scheduletime_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_executestatus_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 执行状态 ******************** pie_v2***/ init_echart("echart_scheduledtkwkwask_executestatus_pie_v2",'scheduledtkwkwask.executestatus_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_executestatus_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 执行状态 ******************** pie_v1***/ init_echart("echart_scheduledtkwkwask_executestatus_pie_v1",'scheduledtkwkwask.executestatus_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_executestatus_pie" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 执行状态 ******************** pie***/ init_echart("echart_scheduledtkwkwask_executestatus_pie",'scheduledtkwkwask.executestatus_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_executestatus_line" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 执行状态 ******************** line***/ init_echart("echart_scheduledtkwkwask_executestatus_line",'scheduledtkwkwask.executestatus_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_executestatus_bar" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 执行状态 ******************** bar***/ init_echart("echart_scheduledtkwkwask_executestatus_bar",'scheduledtkwkwask.executestatus_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_executestatus_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 执行状态 ******************** bar_v1***/ init_echart("echart_scheduledtkwkwask_executestatus_bar_v1",'scheduledtkwkwask.executestatus_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_lkwkwasterrkwkwor_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 最近一次错误信息 ******************** pie_v2***/ init_echart("echart_scheduledtkwkwask_lkwkwasterrkwkwor_pie_v2",'scheduledtkwkwask.lkwkwasterrkwkwor_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_lkwkwasterrkwkwor_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 最近一次错误信息 ******************** pie_v1***/ init_echart("echart_scheduledtkwkwask_lkwkwasterrkwkwor_pie_v1",'scheduledtkwkwask.lkwkwasterrkwkwor_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_lkwkwasterrkwkwor_pie" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 最近一次错误信息 ******************** pie***/ init_echart("echart_scheduledtkwkwask_lkwkwasterrkwkwor_pie",'scheduledtkwkwask.lkwkwasterrkwkwor_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_lkwkwasterrkwkwor_line" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 最近一次错误信息 ******************** line***/ init_echart("echart_scheduledtkwkwask_lkwkwasterrkwkwor_line",'scheduledtkwkwask.lkwkwasterrkwkwor_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_lkwkwasterrkwkwor_bar" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 最近一次错误信息 ******************** bar***/ init_echart("echart_scheduledtkwkwask_lkwkwasterrkwkwor_bar",'scheduledtkwkwask.lkwkwasterrkwkwor_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_lkwkwasterrkwkwor_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 最近一次错误信息 ******************** bar_v1***/ init_echart("echart_scheduledtkwkwask_lkwkwasterrkwkwor_bar_v1",'scheduledtkwkwask.lkwkwasterrkwkwor_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_creatkwkwor_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 创建者 ******************** pie_v2***/ init_echart("echart_scheduledtkwkwask_creatkwkwor_pie_v2",'scheduledtkwkwask.creatkwkwor_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_creatkwkwor_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 创建者 ******************** pie_v1***/ init_echart("echart_scheduledtkwkwask_creatkwkwor_pie_v1",'scheduledtkwkwask.creatkwkwor_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_creatkwkwor_pie" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 创建者 ******************** pie***/ init_echart("echart_scheduledtkwkwask_creatkwkwor_pie",'scheduledtkwkwask.creatkwkwor_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_creatkwkwor_line" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 创建者 ******************** line***/ init_echart("echart_scheduledtkwkwask_creatkwkwor_line",'scheduledtkwkwask.creatkwkwor_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_creatkwkwor_bar" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 创建者 ******************** bar***/ init_echart("echart_scheduledtkwkwask_creatkwkwor_bar",'scheduledtkwkwask.creatkwkwor_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_creatkwkwor_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 创建者 ******************** bar_v1***/ init_echart("echart_scheduledtkwkwask_creatkwkwor_bar_v1",'scheduledtkwkwask.creatkwkwor_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_createtime_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 创建时间 ******************** pie_v2***/ init_echart("echart_scheduledtkwkwask_createtime_pie_v2",'scheduledtkwkwask.createtime_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_createtime_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 创建时间 ******************** pie_v1***/ init_echart("echart_scheduledtkwkwask_createtime_pie_v1",'scheduledtkwkwask.createtime_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_createtime_pie" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 创建时间 ******************** pie***/ init_echart("echart_scheduledtkwkwask_createtime_pie",'scheduledtkwkwask.createtime_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_createtime_line" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 创建时间 ******************** line***/ init_echart("echart_scheduledtkwkwask_createtime_line",'scheduledtkwkwask.createtime_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_createtime_bar" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 创建时间 ******************** bar***/ init_echart("echart_scheduledtkwkwask_createtime_bar",'scheduledtkwkwask.createtime_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_createtime_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 创建时间 ******************** bar_v1***/ init_echart("echart_scheduledtkwkwask_createtime_bar_v1",'scheduledtkwkwask.createtime_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_updatetime_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 更新时间 ******************** pie_v2***/ init_echart("echart_scheduledtkwkwask_updatetime_pie_v2",'scheduledtkwkwask.updatetime_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_updatetime_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 更新时间 ******************** pie_v1***/ init_echart("echart_scheduledtkwkwask_updatetime_pie_v1",'scheduledtkwkwask.updatetime_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_updatetime_pie" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 更新时间 ******************** pie***/ init_echart("echart_scheduledtkwkwask_updatetime_pie",'scheduledtkwkwask.updatetime_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_updatetime_line" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 更新时间 ******************** line***/ init_echart("echart_scheduledtkwkwask_updatetime_line",'scheduledtkwkwask.updatetime_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_updatetime_bar" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 更新时间 ******************** bar***/ init_echart("echart_scheduledtkwkwask_updatetime_bar",'scheduledtkwkwask.updatetime_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_scheduledtkwkwask_updatetime_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 定时任务表 更新时间 ******************** bar_v1***/ init_echart("echart_scheduledtkwkwask_updatetime_bar_v1",'scheduledtkwkwask.updatetime_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>






    </div>
  </body>
</html>
