<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>beta_基于django的多平台自动私信任务管理系统</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/echarts.js"></script>
    <style>
      body {
        color: black;
      }
      .bkimg {
        background-image: url('/static/imgs/default.png');
        background-repeat: no-repeat;
        background-size: cover;
        filter: opacity(90%);
        filter: brightness(10%);
        overflow: hidden;
      }
      .myechart_size {
        height: 450px;
      }
      .myechart_size-height-full {
        with: 95%;
        height: 480px;
      }
    </style>
    
    {% include 'config_visual/function_echart.html' %}
  </head>
  <body>
    <div class="bg-image" style="{% include 'config_visual/background.html' %}">
      <div class="row">
        <div class="d-flex justify-content-center">
          <h3 style="color:black; font-size: 30px; font-weight: bold;">beta_基于django的多平台自动私信任务管理系统 任务执行记录表(tkwkwaskexecutionreckwkword)</h3>
        </div>
      </div>
      {% csrf_token %}





<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_tkwkwaskexecutionreckwkword_executiontime_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 任务执行记录表 执行时间 ******************** pie_v2***/ init_echart("echart_tkwkwaskexecutionreckwkword_executiontime_pie_v2",'tkwkwaskexecutionreckwkword.executiontime_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_tkwkwaskexecutionreckwkword_executiontime_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 任务执行记录表 执行时间 ******************** pie_v1***/ init_echart("echart_tkwkwaskexecutionreckwkword_executiontime_pie_v1",'tkwkwaskexecutionreckwkword.executiontime_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_tkwkwaskexecutionreckwkword_executiontime_pie" class="myechart_size"></div></div></div>
<script>/*** 任务执行记录表 执行时间 ******************** pie***/ init_echart("echart_tkwkwaskexecutionreckwkword_executiontime_pie",'tkwkwaskexecutionreckwkword.executiontime_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_tkwkwaskexecutionreckwkword_executiontime_line" class="myechart_size"></div></div></div>
<script>/*** 任务执行记录表 执行时间 ******************** line***/ init_echart("echart_tkwkwaskexecutionreckwkword_executiontime_line",'tkwkwaskexecutionreckwkword.executiontime_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_tkwkwaskexecutionreckwkword_executiontime_bar" class="myechart_size"></div></div></div>
<script>/*** 任务执行记录表 执行时间 ******************** bar***/ init_echart("echart_tkwkwaskexecutionreckwkword_executiontime_bar",'tkwkwaskexecutionreckwkword.executiontime_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_tkwkwaskexecutionreckwkword_executiontime_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 任务执行记录表 执行时间 ******************** bar_v1***/ init_echart("echart_tkwkwaskexecutionreckwkword_executiontime_bar_v1",'tkwkwaskexecutionreckwkword.executiontime_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_tkwkwaskexecutionreckwkword_status_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 任务执行记录表 执行状态 ******************** pie_v2***/ init_echart("echart_tkwkwaskexecutionreckwkword_status_pie_v2",'tkwkwaskexecutionreckwkword.status_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_tkwkwaskexecutionreckwkword_status_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 任务执行记录表 执行状态 ******************** pie_v1***/ init_echart("echart_tkwkwaskexecutionreckwkword_status_pie_v1",'tkwkwaskexecutionreckwkword.status_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_tkwkwaskexecutionreckwkword_status_pie" class="myechart_size"></div></div></div>
<script>/*** 任务执行记录表 执行状态 ******************** pie***/ init_echart("echart_tkwkwaskexecutionreckwkword_status_pie",'tkwkwaskexecutionreckwkword.status_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_tkwkwaskexecutionreckwkword_status_line" class="myechart_size"></div></div></div>
<script>/*** 任务执行记录表 执行状态 ******************** line***/ init_echart("echart_tkwkwaskexecutionreckwkword_status_line",'tkwkwaskexecutionreckwkword.status_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_tkwkwaskexecutionreckwkword_status_bar" class="myechart_size"></div></div></div>
<script>/*** 任务执行记录表 执行状态 ******************** bar***/ init_echart("echart_tkwkwaskexecutionreckwkword_status_bar",'tkwkwaskexecutionreckwkword.status_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_tkwkwaskexecutionreckwkword_status_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 任务执行记录表 执行状态 ******************** bar_v1***/ init_echart("echart_tkwkwaskexecutionreckwkword_status_bar_v1",'tkwkwaskexecutionreckwkword.status_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>






<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_tkwkwaskexecutionreckwkword_platkwkwfkwkworm_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 任务执行记录表 平台 ******************** pie_v2***/ init_echart("echart_tkwkwaskexecutionreckwkword_platkwkwfkwkworm_pie_v2",'tkwkwaskexecutionreckwkword.platkwkwfkwkworm_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_tkwkwaskexecutionreckwkword_platkwkwfkwkworm_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 任务执行记录表 平台 ******************** pie_v1***/ init_echart("echart_tkwkwaskexecutionreckwkword_platkwkwfkwkworm_pie_v1",'tkwkwaskexecutionreckwkword.platkwkwfkwkworm_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_tkwkwaskexecutionreckwkword_platkwkwfkwkworm_pie" class="myechart_size"></div></div></div>
<script>/*** 任务执行记录表 平台 ******************** pie***/ init_echart("echart_tkwkwaskexecutionreckwkword_platkwkwfkwkworm_pie",'tkwkwaskexecutionreckwkword.platkwkwfkwkworm_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_tkwkwaskexecutionreckwkword_platkwkwfkwkworm_line" class="myechart_size"></div></div></div>
<script>/*** 任务执行记录表 平台 ******************** line***/ init_echart("echart_tkwkwaskexecutionreckwkword_platkwkwfkwkworm_line",'tkwkwaskexecutionreckwkword.platkwkwfkwkworm_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_tkwkwaskexecutionreckwkword_platkwkwfkwkworm_bar" class="myechart_size"></div></div></div>
<script>/*** 任务执行记录表 平台 ******************** bar***/ init_echart("echart_tkwkwaskexecutionreckwkword_platkwkwfkwkworm_bar",'tkwkwaskexecutionreckwkword.platkwkwfkwkworm_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_tkwkwaskexecutionreckwkword_platkwkwfkwkworm_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 任务执行记录表 平台 ******************** bar_v1***/ init_echart("echart_tkwkwaskexecutionreckwkword_platkwkwfkwkworm_bar_v1",'tkwkwaskexecutionreckwkword.platkwkwfkwkworm_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_tkwkwaskexecutionreckwkword_messagecontent_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 任务执行记录表 私信内容 ******************** pie_v2***/ init_echart("echart_tkwkwaskexecutionreckwkword_messagecontent_pie_v2",'tkwkwaskexecutionreckwkword.messagecontent_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_tkwkwaskexecutionreckwkword_messagecontent_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 任务执行记录表 私信内容 ******************** pie_v1***/ init_echart("echart_tkwkwaskexecutionreckwkword_messagecontent_pie_v1",'tkwkwaskexecutionreckwkword.messagecontent_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_tkwkwaskexecutionreckwkword_messagecontent_pie" class="myechart_size"></div></div></div>
<script>/*** 任务执行记录表 私信内容 ******************** pie***/ init_echart("echart_tkwkwaskexecutionreckwkword_messagecontent_pie",'tkwkwaskexecutionreckwkword.messagecontent_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_tkwkwaskexecutionreckwkword_messagecontent_line" class="myechart_size"></div></div></div>
<script>/*** 任务执行记录表 私信内容 ******************** line***/ init_echart("echart_tkwkwaskexecutionreckwkword_messagecontent_line",'tkwkwaskexecutionreckwkword.messagecontent_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_tkwkwaskexecutionreckwkword_messagecontent_bar" class="myechart_size"></div></div></div>
<script>/*** 任务执行记录表 私信内容 ******************** bar***/ init_echart("echart_tkwkwaskexecutionreckwkword_messagecontent_bar",'tkwkwaskexecutionreckwkword.messagecontent_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_tkwkwaskexecutionreckwkword_messagecontent_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 任务执行记录表 私信内容 ******************** bar_v1***/ init_echart("echart_tkwkwaskexecutionreckwkword_messagecontent_bar_v1",'tkwkwaskexecutionreckwkword.messagecontent_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>












<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_tkwkwaskexecutionreckwkword_errkwkwormessage_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 任务执行记录表 错误信息 ******************** pie_v2***/ init_echart("echart_tkwkwaskexecutionreckwkword_errkwkwormessage_pie_v2",'tkwkwaskexecutionreckwkword.errkwkwormessage_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_tkwkwaskexecutionreckwkword_errkwkwormessage_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 任务执行记录表 错误信息 ******************** pie_v1***/ init_echart("echart_tkwkwaskexecutionreckwkword_errkwkwormessage_pie_v1",'tkwkwaskexecutionreckwkword.errkwkwormessage_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_tkwkwaskexecutionreckwkword_errkwkwormessage_pie" class="myechart_size"></div></div></div>
<script>/*** 任务执行记录表 错误信息 ******************** pie***/ init_echart("echart_tkwkwaskexecutionreckwkword_errkwkwormessage_pie",'tkwkwaskexecutionreckwkword.errkwkwormessage_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_tkwkwaskexecutionreckwkword_errkwkwormessage_line" class="myechart_size"></div></div></div>
<script>/*** 任务执行记录表 错误信息 ******************** line***/ init_echart("echart_tkwkwaskexecutionreckwkword_errkwkwormessage_line",'tkwkwaskexecutionreckwkword.errkwkwormessage_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_tkwkwaskexecutionreckwkword_errkwkwormessage_bar" class="myechart_size"></div></div></div>
<script>/*** 任务执行记录表 错误信息 ******************** bar***/ init_echart("echart_tkwkwaskexecutionreckwkword_errkwkwormessage_bar",'tkwkwaskexecutionreckwkword.errkwkwormessage_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_tkwkwaskexecutionreckwkword_errkwkwormessage_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 任务执行记录表 错误信息 ******************** bar_v1***/ init_echart("echart_tkwkwaskexecutionreckwkword_errkwkwormessage_bar_v1",'tkwkwaskexecutionreckwkword.errkwkwormessage_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



    </div>
  </body>
</html>
