<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>beta_基于django的多平台自动私信任务管理系统</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/echarts.js"></script>
    <style>
      body {
        color: black;
      }
      .bkimg {
        background-image: url('/static/imgs/default.png');
        background-repeat: no-repeat;
        background-size: cover;
        filter: opacity(90%);
        filter: brightness(10%);
        overflow: hidden;
      }
      .myechart_size {
        height: 450px;
      }
      .myechart_size-height-full {
        with: 95%;
        height: 480px;
      }
    </style>
    
    {% include 'config_visual/function_echart.html' %}
  </head>
  <body>
    <div class="bg-image" style="{% include 'config_visual/background.html' %}">
      <div class="row">
        <div class="d-flex justify-content-center">
          <h3 style="color:black; font-size: 30px; font-weight: bold;">beta_基于django的多平台自动私信任务管理系统 消息重试记录表(messagerekwkwtryreckwkword)</h3>
        </div>
      </div>
      {% csrf_token %}





<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_platkwkwfkwkworm_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 平台名称 ******************** pie_v2***/ init_echart("echart_messagerekwkwtryreckwkword_platkwkwfkwkworm_pie_v2",'messagerekwkwtryreckwkword.platkwkwfkwkworm_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_platkwkwfkwkworm_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 平台名称 ******************** pie_v1***/ init_echart("echart_messagerekwkwtryreckwkword_platkwkwfkwkworm_pie_v1",'messagerekwkwtryreckwkword.platkwkwfkwkworm_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_platkwkwfkwkworm_pie" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 平台名称 ******************** pie***/ init_echart("echart_messagerekwkwtryreckwkword_platkwkwfkwkworm_pie",'messagerekwkwtryreckwkword.platkwkwfkwkworm_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_platkwkwfkwkworm_line" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 平台名称 ******************** line***/ init_echart("echart_messagerekwkwtryreckwkword_platkwkwfkwkworm_line",'messagerekwkwtryreckwkword.platkwkwfkwkworm_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_platkwkwfkwkworm_bar" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 平台名称 ******************** bar***/ init_echart("echart_messagerekwkwtryreckwkword_platkwkwfkwkworm_bar",'messagerekwkwtryreckwkword.platkwkwfkwkworm_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_platkwkwfkwkworm_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 平台名称 ******************** bar_v1***/ init_echart("echart_messagerekwkwtryreckwkword_platkwkwfkwkworm_bar_v1",'messagerekwkwtryreckwkword.platkwkwfkwkworm_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>






<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_content_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 消息内容 ******************** pie_v2***/ init_echart("echart_messagerekwkwtryreckwkword_content_pie_v2",'messagerekwkwtryreckwkword.content_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_content_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 消息内容 ******************** pie_v1***/ init_echart("echart_messagerekwkwtryreckwkword_content_pie_v1",'messagerekwkwtryreckwkword.content_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_content_pie" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 消息内容 ******************** pie***/ init_echart("echart_messagerekwkwtryreckwkword_content_pie",'messagerekwkwtryreckwkword.content_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_content_line" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 消息内容 ******************** line***/ init_echart("echart_messagerekwkwtryreckwkword_content_line",'messagerekwkwtryreckwkword.content_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_content_bar" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 消息内容 ******************** bar***/ init_echart("echart_messagerekwkwtryreckwkword_content_bar",'messagerekwkwtryreckwkword.content_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_content_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 消息内容 ******************** bar_v1***/ init_echart("echart_messagerekwkwtryreckwkword_content_bar_v1",'messagerekwkwtryreckwkword.content_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_rekwkwtrycount_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 重试次数 ******************** pie_v2***/ init_echart("echart_messagerekwkwtryreckwkword_rekwkwtrycount_pie_v2",'messagerekwkwtryreckwkword.rekwkwtrycount_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_rekwkwtrycount_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 重试次数 ******************** pie_v1***/ init_echart("echart_messagerekwkwtryreckwkword_rekwkwtrycount_pie_v1",'messagerekwkwtryreckwkword.rekwkwtrycount_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_rekwkwtrycount_pie" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 重试次数 ******************** pie***/ init_echart("echart_messagerekwkwtryreckwkword_rekwkwtrycount_pie",'messagerekwkwtryreckwkword.rekwkwtrycount_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_rekwkwtrycount_line" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 重试次数 ******************** line***/ init_echart("echart_messagerekwkwtryreckwkword_rekwkwtrycount_line",'messagerekwkwtryreckwkword.rekwkwtrycount_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_rekwkwtrycount_bar" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 重试次数 ******************** bar***/ init_echart("echart_messagerekwkwtryreckwkword_rekwkwtrycount_bar",'messagerekwkwtryreckwkword.rekwkwtrycount_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_rekwkwtrycount_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 重试次数 ******************** bar_v1***/ init_echart("echart_messagerekwkwtryreckwkword_rekwkwtrycount_bar_v1",'messagerekwkwtryreckwkword.rekwkwtrycount_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_lkwkwastrekwkwtrytime_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 上次重试时间 ******************** pie_v2***/ init_echart("echart_messagerekwkwtryreckwkword_lkwkwastrekwkwtrytime_pie_v2",'messagerekwkwtryreckwkword.lkwkwastrekwkwtrytime_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_lkwkwastrekwkwtrytime_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 上次重试时间 ******************** pie_v1***/ init_echart("echart_messagerekwkwtryreckwkword_lkwkwastrekwkwtrytime_pie_v1",'messagerekwkwtryreckwkword.lkwkwastrekwkwtrytime_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_lkwkwastrekwkwtrytime_pie" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 上次重试时间 ******************** pie***/ init_echart("echart_messagerekwkwtryreckwkword_lkwkwastrekwkwtrytime_pie",'messagerekwkwtryreckwkword.lkwkwastrekwkwtrytime_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_lkwkwastrekwkwtrytime_line" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 上次重试时间 ******************** line***/ init_echart("echart_messagerekwkwtryreckwkword_lkwkwastrekwkwtrytime_line",'messagerekwkwtryreckwkword.lkwkwastrekwkwtrytime_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_lkwkwastrekwkwtrytime_bar" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 上次重试时间 ******************** bar***/ init_echart("echart_messagerekwkwtryreckwkword_lkwkwastrekwkwtrytime_bar",'messagerekwkwtryreckwkword.lkwkwastrekwkwtrytime_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_lkwkwastrekwkwtrytime_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 上次重试时间 ******************** bar_v1***/ init_echart("echart_messagerekwkwtryreckwkword_lkwkwastrekwkwtrytime_bar_v1",'messagerekwkwtryreckwkword.lkwkwastrekwkwtrytime_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_nextrekwkwtrytime_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 下一次重试时间 ******************** pie_v2***/ init_echart("echart_messagerekwkwtryreckwkword_nextrekwkwtrytime_pie_v2",'messagerekwkwtryreckwkword.nextrekwkwtrytime_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_nextrekwkwtrytime_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 下一次重试时间 ******************** pie_v1***/ init_echart("echart_messagerekwkwtryreckwkword_nextrekwkwtrytime_pie_v1",'messagerekwkwtryreckwkword.nextrekwkwtrytime_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_nextrekwkwtrytime_pie" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 下一次重试时间 ******************** pie***/ init_echart("echart_messagerekwkwtryreckwkword_nextrekwkwtrytime_pie",'messagerekwkwtryreckwkword.nextrekwkwtrytime_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_nextrekwkwtrytime_line" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 下一次重试时间 ******************** line***/ init_echart("echart_messagerekwkwtryreckwkword_nextrekwkwtrytime_line",'messagerekwkwtryreckwkword.nextrekwkwtrytime_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_nextrekwkwtrytime_bar" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 下一次重试时间 ******************** bar***/ init_echart("echart_messagerekwkwtryreckwkword_nextrekwkwtrytime_bar",'messagerekwkwtryreckwkword.nextrekwkwtrytime_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_nextrekwkwtrytime_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 下一次重试时间 ******************** bar_v1***/ init_echart("echart_messagerekwkwtryreckwkword_nextrekwkwtrytime_bar_v1",'messagerekwkwtryreckwkword.nextrekwkwtrytime_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_status_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 消息状态如待发送、发送中、发送成功、发送失败 ******************** pie_v2***/ init_echart("echart_messagerekwkwtryreckwkword_status_pie_v2",'messagerekwkwtryreckwkword.status_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_status_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 消息状态如待发送、发送中、发送成功、发送失败 ******************** pie_v1***/ init_echart("echart_messagerekwkwtryreckwkword_status_pie_v1",'messagerekwkwtryreckwkword.status_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_status_pie" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 消息状态如待发送、发送中、发送成功、发送失败 ******************** pie***/ init_echart("echart_messagerekwkwtryreckwkword_status_pie",'messagerekwkwtryreckwkword.status_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_status_line" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 消息状态如待发送、发送中、发送成功、发送失败 ******************** line***/ init_echart("echart_messagerekwkwtryreckwkword_status_line",'messagerekwkwtryreckwkword.status_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_status_bar" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 消息状态如待发送、发送中、发送成功、发送失败 ******************** bar***/ init_echart("echart_messagerekwkwtryreckwkword_status_bar",'messagerekwkwtryreckwkword.status_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_status_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 消息状态如待发送、发送中、发送成功、发送失败 ******************** bar_v1***/ init_echart("echart_messagerekwkwtryreckwkword_status_bar_v1",'messagerekwkwtryreckwkword.status_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_errkwkworkwkwinfo_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 错误信息如果发送失败记录错误信息 ******************** pie_v2***/ init_echart("echart_messagerekwkwtryreckwkword_errkwkworkwkwinfo_pie_v2",'messagerekwkwtryreckwkword.errkwkworkwkwinfo_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_errkwkworkwkwinfo_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 错误信息如果发送失败记录错误信息 ******************** pie_v1***/ init_echart("echart_messagerekwkwtryreckwkword_errkwkworkwkwinfo_pie_v1",'messagerekwkwtryreckwkword.errkwkworkwkwinfo_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_errkwkworkwkwinfo_pie" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 错误信息如果发送失败记录错误信息 ******************** pie***/ init_echart("echart_messagerekwkwtryreckwkword_errkwkworkwkwinfo_pie",'messagerekwkwtryreckwkword.errkwkworkwkwinfo_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_errkwkworkwkwinfo_line" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 错误信息如果发送失败记录错误信息 ******************** line***/ init_echart("echart_messagerekwkwtryreckwkword_errkwkworkwkwinfo_line",'messagerekwkwtryreckwkword.errkwkworkwkwinfo_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_errkwkworkwkwinfo_bar" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 错误信息如果发送失败记录错误信息 ******************** bar***/ init_echart("echart_messagerekwkwtryreckwkword_errkwkworkwkwinfo_bar",'messagerekwkwtryreckwkword.errkwkworkwkwinfo_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagerekwkwtryreckwkword_errkwkworkwkwinfo_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 消息重试记录表 错误信息如果发送失败记录错误信息 ******************** bar_v1***/ init_echart("echart_messagerekwkwtryreckwkword_errkwkworkwkwinfo_bar_v1",'messagerekwkwtryreckwkword.errkwkworkwkwinfo_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



    </div>
  </body>
</html>
