<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>beta_基于django的多平台自动私信任务管理系统</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/echarts.js"></script>
    <style>
      body {
        color: black;
      }
      .bkimg {
        background-image: url('/static/imgs/default.png');
        background-repeat: no-repeat;
        background-size: cover;
        filter: opacity(90%);
        filter: brightness(10%);
        overflow: hidden;
      }
      .myechart_size {
        height: 450px;
      }
      .myechart_size-height-full {
        with: 95%;
        height: 480px;
      }
    </style>
    
    {% include 'config_visual/function_echart.html' %}
  </head>
  <body>
    <div class="bg-image" style="{% include 'config_visual/background.html' %}">
      <div class="row">
        <div class="d-flex justify-content-center">
          <h3 style="color:black; font-size: 30px; font-weight: bold;">beta_基于django的多平台自动私信任务管理系统 消息队列状态表(messagequeuestatus)</h3>
        </div>
      </div>
      {% csrf_token %}











<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagequeuestatus_status_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 消息队列状态表 状态如待发送、发送中、发送成功、发送失败 ******************** pie_v2***/ init_echart("echart_messagequeuestatus_status_pie_v2",'messagequeuestatus.status_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagequeuestatus_status_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 消息队列状态表 状态如待发送、发送中、发送成功、发送失败 ******************** pie_v1***/ init_echart("echart_messagequeuestatus_status_pie_v1",'messagequeuestatus.status_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagequeuestatus_status_pie" class="myechart_size"></div></div></div>
<script>/*** 消息队列状态表 状态如待发送、发送中、发送成功、发送失败 ******************** pie***/ init_echart("echart_messagequeuestatus_status_pie",'messagequeuestatus.status_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_messagequeuestatus_status_line" class="myechart_size"></div></div></div>
<script>/*** 消息队列状态表 状态如待发送、发送中、发送成功、发送失败 ******************** line***/ init_echart("echart_messagequeuestatus_status_line",'messagequeuestatus.status_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagequeuestatus_status_bar" class="myechart_size"></div></div></div>
<script>/*** 消息队列状态表 状态如待发送、发送中、发送成功、发送失败 ******************** bar***/ init_echart("echart_messagequeuestatus_status_bar",'messagequeuestatus.status_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagequeuestatus_status_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 消息队列状态表 状态如待发送、发送中、发送成功、发送失败 ******************** bar_v1***/ init_echart("echart_messagequeuestatus_status_bar_v1",'messagequeuestatus.status_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagequeuestatus_createdat_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 消息队列状态表 创建时间 ******************** pie_v2***/ init_echart("echart_messagequeuestatus_createdat_pie_v2",'messagequeuestatus.createdat_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagequeuestatus_createdat_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 消息队列状态表 创建时间 ******************** pie_v1***/ init_echart("echart_messagequeuestatus_createdat_pie_v1",'messagequeuestatus.createdat_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagequeuestatus_createdat_pie" class="myechart_size"></div></div></div>
<script>/*** 消息队列状态表 创建时间 ******************** pie***/ init_echart("echart_messagequeuestatus_createdat_pie",'messagequeuestatus.createdat_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_messagequeuestatus_createdat_line" class="myechart_size"></div></div></div>
<script>/*** 消息队列状态表 创建时间 ******************** line***/ init_echart("echart_messagequeuestatus_createdat_line",'messagequeuestatus.createdat_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagequeuestatus_createdat_bar" class="myechart_size"></div></div></div>
<script>/*** 消息队列状态表 创建时间 ******************** bar***/ init_echart("echart_messagequeuestatus_createdat_bar",'messagequeuestatus.createdat_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagequeuestatus_createdat_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 消息队列状态表 创建时间 ******************** bar_v1***/ init_echart("echart_messagequeuestatus_createdat_bar_v1",'messagequeuestatus.createdat_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagequeuestatus_updatedat_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 消息队列状态表 更新时间 ******************** pie_v2***/ init_echart("echart_messagequeuestatus_updatedat_pie_v2",'messagequeuestatus.updatedat_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagequeuestatus_updatedat_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 消息队列状态表 更新时间 ******************** pie_v1***/ init_echart("echart_messagequeuestatus_updatedat_pie_v1",'messagequeuestatus.updatedat_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagequeuestatus_updatedat_pie" class="myechart_size"></div></div></div>
<script>/*** 消息队列状态表 更新时间 ******************** pie***/ init_echart("echart_messagequeuestatus_updatedat_pie",'messagequeuestatus.updatedat_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_messagequeuestatus_updatedat_line" class="myechart_size"></div></div></div>
<script>/*** 消息队列状态表 更新时间 ******************** line***/ init_echart("echart_messagequeuestatus_updatedat_line",'messagequeuestatus.updatedat_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagequeuestatus_updatedat_bar" class="myechart_size"></div></div></div>
<script>/*** 消息队列状态表 更新时间 ******************** bar***/ init_echart("echart_messagequeuestatus_updatedat_bar",'messagequeuestatus.updatedat_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagequeuestatus_updatedat_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 消息队列状态表 更新时间 ******************** bar_v1***/ init_echart("echart_messagequeuestatus_updatedat_bar_v1",'messagequeuestatus.updatedat_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagequeuestatus_rekwkwtrycount_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 消息队列状态表 重试次数 ******************** pie_v2***/ init_echart("echart_messagequeuestatus_rekwkwtrycount_pie_v2",'messagequeuestatus.rekwkwtrycount_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagequeuestatus_rekwkwtrycount_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 消息队列状态表 重试次数 ******************** pie_v1***/ init_echart("echart_messagequeuestatus_rekwkwtrycount_pie_v1",'messagequeuestatus.rekwkwtrycount_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagequeuestatus_rekwkwtrycount_pie" class="myechart_size"></div></div></div>
<script>/*** 消息队列状态表 重试次数 ******************** pie***/ init_echart("echart_messagequeuestatus_rekwkwtrycount_pie",'messagequeuestatus.rekwkwtrycount_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_messagequeuestatus_rekwkwtrycount_line" class="myechart_size"></div></div></div>
<script>/*** 消息队列状态表 重试次数 ******************** line***/ init_echart("echart_messagequeuestatus_rekwkwtrycount_line",'messagequeuestatus.rekwkwtrycount_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagequeuestatus_rekwkwtrycount_bar" class="myechart_size"></div></div></div>
<script>/*** 消息队列状态表 重试次数 ******************** bar***/ init_echart("echart_messagequeuestatus_rekwkwtrycount_bar",'messagequeuestatus.rekwkwtrycount_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagequeuestatus_rekwkwtrycount_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 消息队列状态表 重试次数 ******************** bar_v1***/ init_echart("echart_messagequeuestatus_rekwkwtrycount_bar_v1",'messagequeuestatus.rekwkwtrycount_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagequeuestatus_nextrekwkwtrytime_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 消息队列状态表 下一次重试时间 ******************** pie_v2***/ init_echart("echart_messagequeuestatus_nextrekwkwtrytime_pie_v2",'messagequeuestatus.nextrekwkwtrytime_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagequeuestatus_nextrekwkwtrytime_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 消息队列状态表 下一次重试时间 ******************** pie_v1***/ init_echart("echart_messagequeuestatus_nextrekwkwtrytime_pie_v1",'messagequeuestatus.nextrekwkwtrytime_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagequeuestatus_nextrekwkwtrytime_pie" class="myechart_size"></div></div></div>
<script>/*** 消息队列状态表 下一次重试时间 ******************** pie***/ init_echart("echart_messagequeuestatus_nextrekwkwtrytime_pie",'messagequeuestatus.nextrekwkwtrytime_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_messagequeuestatus_nextrekwkwtrytime_line" class="myechart_size"></div></div></div>
<script>/*** 消息队列状态表 下一次重试时间 ******************** line***/ init_echart("echart_messagequeuestatus_nextrekwkwtrytime_line",'messagequeuestatus.nextrekwkwtrytime_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagequeuestatus_nextrekwkwtrytime_bar" class="myechart_size"></div></div></div>
<script>/*** 消息队列状态表 下一次重试时间 ******************** bar***/ init_echart("echart_messagequeuestatus_nextrekwkwtrytime_bar",'messagequeuestatus.nextrekwkwtrytime_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagequeuestatus_nextrekwkwtrytime_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 消息队列状态表 下一次重试时间 ******************** bar_v1***/ init_echart("echart_messagequeuestatus_nextrekwkwtrytime_bar_v1",'messagequeuestatus.nextrekwkwtrytime_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagequeuestatus_errkwkwormessage_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 消息队列状态表 错误信息如果发送失败记录失败原因 ******************** pie_v2***/ init_echart("echart_messagequeuestatus_errkwkwormessage_pie_v2",'messagequeuestatus.errkwkwormessage_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagequeuestatus_errkwkwormessage_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 消息队列状态表 错误信息如果发送失败记录失败原因 ******************** pie_v1***/ init_echart("echart_messagequeuestatus_errkwkwormessage_pie_v1",'messagequeuestatus.errkwkwormessage_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagequeuestatus_errkwkwormessage_pie" class="myechart_size"></div></div></div>
<script>/*** 消息队列状态表 错误信息如果发送失败记录失败原因 ******************** pie***/ init_echart("echart_messagequeuestatus_errkwkwormessage_pie",'messagequeuestatus.errkwkwormessage_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_messagequeuestatus_errkwkwormessage_line" class="myechart_size"></div></div></div>
<script>/*** 消息队列状态表 错误信息如果发送失败记录失败原因 ******************** line***/ init_echart("echart_messagequeuestatus_errkwkwormessage_line",'messagequeuestatus.errkwkwormessage_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagequeuestatus_errkwkwormessage_bar" class="myechart_size"></div></div></div>
<script>/*** 消息队列状态表 错误信息如果发送失败记录失败原因 ******************** bar***/ init_echart("echart_messagequeuestatus_errkwkwormessage_bar",'messagequeuestatus.errkwkwormessage_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagequeuestatus_errkwkwormessage_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 消息队列状态表 错误信息如果发送失败记录失败原因 ******************** bar_v1***/ init_echart("echart_messagequeuestatus_errkwkwormessage_bar_v1",'messagequeuestatus.errkwkwormessage_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



    </div>
  </body>
</html>
