<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>beta_基于django的多平台自动私信任务管理系统</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/echarts.js"></script>
    <style>
      body {
        color: black;
      }
      .bkimg {
        background-image: url('/static/imgs/default.png');
        background-repeat: no-repeat;
        background-size: cover;
        filter: opacity(90%);
        filter: brightness(10%);
        overflow: hidden;
      }
      .myechart_size {
        height: 450px;
      }
      .myechart_size-height-full {
        with: 95%;
        height: 480px;
      }
    </style>
    
    {% include 'config_visual/function_echart.html' %}
  </head>
  <body>
    <div class="bg-image" style="{% include 'config_visual/background.html' %}">
      <div class="row">
        <div class="d-flex justify-content-center">
          <h3 style="color:black; font-size: 30px; font-weight: bold;">beta_基于django的多平台自动私信任务管理系统 消息队列表(messagequeue)</h3>
        </div>
      </div>
      {% csrf_token %}





<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagequeue_platkwkwfkwkworm_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 平台名称记录消息需要发送的平台如微信、微博等 ******************** pie_v2***/ init_echart("echart_messagequeue_platkwkwfkwkworm_pie_v2",'messagequeue.platkwkwfkwkworm_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagequeue_platkwkwfkwkworm_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 平台名称记录消息需要发送的平台如微信、微博等 ******************** pie_v1***/ init_echart("echart_messagequeue_platkwkwfkwkworm_pie_v1",'messagequeue.platkwkwfkwkworm_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagequeue_platkwkwfkwkworm_pie" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 平台名称记录消息需要发送的平台如微信、微博等 ******************** pie***/ init_echart("echart_messagequeue_platkwkwfkwkworm_pie",'messagequeue.platkwkwfkwkworm_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_messagequeue_platkwkwfkwkworm_line" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 平台名称记录消息需要发送的平台如微信、微博等 ******************** line***/ init_echart("echart_messagequeue_platkwkwfkwkworm_line",'messagequeue.platkwkwfkwkworm_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagequeue_platkwkwfkwkworm_bar" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 平台名称记录消息需要发送的平台如微信、微博等 ******************** bar***/ init_echart("echart_messagequeue_platkwkwfkwkworm_bar",'messagequeue.platkwkwfkwkworm_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagequeue_platkwkwfkwkworm_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 平台名称记录消息需要发送的平台如微信、微博等 ******************** bar_v1***/ init_echart("echart_messagequeue_platkwkwfkwkworm_bar_v1",'messagequeue.platkwkwfkwkworm_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>






<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagequeue_messagecontent_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 消息内容需要发送的具体消息内容 ******************** pie_v2***/ init_echart("echart_messagequeue_messagecontent_pie_v2",'messagequeue.messagecontent_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagequeue_messagecontent_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 消息内容需要发送的具体消息内容 ******************** pie_v1***/ init_echart("echart_messagequeue_messagecontent_pie_v1",'messagequeue.messagecontent_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagequeue_messagecontent_pie" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 消息内容需要发送的具体消息内容 ******************** pie***/ init_echart("echart_messagequeue_messagecontent_pie",'messagequeue.messagecontent_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_messagequeue_messagecontent_line" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 消息内容需要发送的具体消息内容 ******************** line***/ init_echart("echart_messagequeue_messagecontent_line",'messagequeue.messagecontent_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagequeue_messagecontent_bar" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 消息内容需要发送的具体消息内容 ******************** bar***/ init_echart("echart_messagequeue_messagecontent_bar",'messagequeue.messagecontent_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagequeue_messagecontent_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 消息内容需要发送的具体消息内容 ******************** bar_v1***/ init_echart("echart_messagequeue_messagecontent_bar_v1",'messagequeue.messagecontent_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagequeue_status_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 消息状态如待发送、发送中、已发送、发送失败等 ******************** pie_v2***/ init_echart("echart_messagequeue_status_pie_v2",'messagequeue.status_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagequeue_status_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 消息状态如待发送、发送中、已发送、发送失败等 ******************** pie_v1***/ init_echart("echart_messagequeue_status_pie_v1",'messagequeue.status_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagequeue_status_pie" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 消息状态如待发送、发送中、已发送、发送失败等 ******************** pie***/ init_echart("echart_messagequeue_status_pie",'messagequeue.status_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_messagequeue_status_line" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 消息状态如待发送、发送中、已发送、发送失败等 ******************** line***/ init_echart("echart_messagequeue_status_line",'messagequeue.status_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagequeue_status_bar" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 消息状态如待发送、发送中、已发送、发送失败等 ******************** bar***/ init_echart("echart_messagequeue_status_bar",'messagequeue.status_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagequeue_status_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 消息状态如待发送、发送中、已发送、发送失败等 ******************** bar_v1***/ init_echart("echart_messagequeue_status_bar_v1",'messagequeue.status_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagequeue_createdat_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 创建时间消息加入队列的时间 ******************** pie_v2***/ init_echart("echart_messagequeue_createdat_pie_v2",'messagequeue.createdat_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagequeue_createdat_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 创建时间消息加入队列的时间 ******************** pie_v1***/ init_echart("echart_messagequeue_createdat_pie_v1",'messagequeue.createdat_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagequeue_createdat_pie" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 创建时间消息加入队列的时间 ******************** pie***/ init_echart("echart_messagequeue_createdat_pie",'messagequeue.createdat_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_messagequeue_createdat_line" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 创建时间消息加入队列的时间 ******************** line***/ init_echart("echart_messagequeue_createdat_line",'messagequeue.createdat_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagequeue_createdat_bar" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 创建时间消息加入队列的时间 ******************** bar***/ init_echart("echart_messagequeue_createdat_bar",'messagequeue.createdat_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagequeue_createdat_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 创建时间消息加入队列的时间 ******************** bar_v1***/ init_echart("echart_messagequeue_createdat_bar_v1",'messagequeue.createdat_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagequeue_updatedat_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 更新时间消息状态最后一次更新的时间 ******************** pie_v2***/ init_echart("echart_messagequeue_updatedat_pie_v2",'messagequeue.updatedat_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagequeue_updatedat_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 更新时间消息状态最后一次更新的时间 ******************** pie_v1***/ init_echart("echart_messagequeue_updatedat_pie_v1",'messagequeue.updatedat_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagequeue_updatedat_pie" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 更新时间消息状态最后一次更新的时间 ******************** pie***/ init_echart("echart_messagequeue_updatedat_pie",'messagequeue.updatedat_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_messagequeue_updatedat_line" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 更新时间消息状态最后一次更新的时间 ******************** line***/ init_echart("echart_messagequeue_updatedat_line",'messagequeue.updatedat_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagequeue_updatedat_bar" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 更新时间消息状态最后一次更新的时间 ******************** bar***/ init_echart("echart_messagequeue_updatedat_bar",'messagequeue.updatedat_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagequeue_updatedat_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 更新时间消息状态最后一次更新的时间 ******************** bar_v1***/ init_echart("echart_messagequeue_updatedat_bar_v1",'messagequeue.updatedat_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagequeue_rekwkwtrycount_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 重试次数如果消息发送失败记录重试的次数 ******************** pie_v2***/ init_echart("echart_messagequeue_rekwkwtrycount_pie_v2",'messagequeue.rekwkwtrycount_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagequeue_rekwkwtrycount_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 重试次数如果消息发送失败记录重试的次数 ******************** pie_v1***/ init_echart("echart_messagequeue_rekwkwtrycount_pie_v1",'messagequeue.rekwkwtrycount_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagequeue_rekwkwtrycount_pie" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 重试次数如果消息发送失败记录重试的次数 ******************** pie***/ init_echart("echart_messagequeue_rekwkwtrycount_pie",'messagequeue.rekwkwtrycount_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_messagequeue_rekwkwtrycount_line" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 重试次数如果消息发送失败记录重试的次数 ******************** line***/ init_echart("echart_messagequeue_rekwkwtrycount_line",'messagequeue.rekwkwtrycount_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagequeue_rekwkwtrycount_bar" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 重试次数如果消息发送失败记录重试的次数 ******************** bar***/ init_echart("echart_messagequeue_rekwkwtrycount_bar",'messagequeue.rekwkwtrycount_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagequeue_rekwkwtrycount_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 重试次数如果消息发送失败记录重试的次数 ******************** bar_v1***/ init_echart("echart_messagequeue_rekwkwtrycount_bar_v1",'messagequeue.rekwkwtrycount_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagequeue_nextrekwkwtrytime_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 下一次重试时间如果消息发送失败记录下一次尝试发送的时间 ******************** pie_v2***/ init_echart("echart_messagequeue_nextrekwkwtrytime_pie_v2",'messagequeue.nextrekwkwtrytime_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagequeue_nextrekwkwtrytime_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 下一次重试时间如果消息发送失败记录下一次尝试发送的时间 ******************** pie_v1***/ init_echart("echart_messagequeue_nextrekwkwtrytime_pie_v1",'messagequeue.nextrekwkwtrytime_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagequeue_nextrekwkwtrytime_pie" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 下一次重试时间如果消息发送失败记录下一次尝试发送的时间 ******************** pie***/ init_echart("echart_messagequeue_nextrekwkwtrytime_pie",'messagequeue.nextrekwkwtrytime_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_messagequeue_nextrekwkwtrytime_line" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 下一次重试时间如果消息发送失败记录下一次尝试发送的时间 ******************** line***/ init_echart("echart_messagequeue_nextrekwkwtrytime_line",'messagequeue.nextrekwkwtrytime_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagequeue_nextrekwkwtrytime_bar" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 下一次重试时间如果消息发送失败记录下一次尝试发送的时间 ******************** bar***/ init_echart("echart_messagequeue_nextrekwkwtrytime_bar",'messagequeue.nextrekwkwtrytime_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagequeue_nextrekwkwtrytime_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 消息队列表 下一次重试时间如果消息发送失败记录下一次尝试发送的时间 ******************** bar_v1***/ init_echart("echart_messagequeue_nextrekwkwtrytime_bar_v1",'messagequeue.nextrekwkwtrytime_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



    </div>
  </body>
</html>
