<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>beta_基于django的多平台自动私信任务管理系统</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/echarts.js"></script>
    <style>
      body {
        color: black;
      }
      .bkimg {
        background-image: url('/static/imgs/default.png');
        background-repeat: no-repeat;
        background-size: cover;
        filter: opacity(90%);
        filter: brightness(10%);
        overflow: hidden;
      }
      .myechart_size {
        height: 450px;
      }
      .myechart_size-height-full {
        with: 95%;
        height: 480px;
      }
    </style>
    
    {% include 'config_visual/function_echart.html' %}
  </head>
  <body>
    <div class="bg-image" style="{% include 'config_visual/background.html' %}">
      <div class="row">
        <div class="d-flex justify-content-center">
          <h3 style="color:black; font-size: 30px; font-weight: bold;">beta_基于django的多平台自动私信任务管理系统 任务管理表(tkwkwaskmanagement)</h3>
        </div>
      </div>
      {% csrf_token %}





<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_tkwkwaskname_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 任务名称 ******************** pie_v2***/ init_echart("echart_tkwkwaskmanagement_tkwkwaskname_pie_v2",'tkwkwaskmanagement.tkwkwaskname_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_tkwkwaskname_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 任务名称 ******************** pie_v1***/ init_echart("echart_tkwkwaskmanagement_tkwkwaskname_pie_v1",'tkwkwaskmanagement.tkwkwaskname_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_tkwkwaskname_pie" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 任务名称 ******************** pie***/ init_echart("echart_tkwkwaskmanagement_tkwkwaskname_pie",'tkwkwaskmanagement.tkwkwaskname_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_tkwkwaskname_line" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 任务名称 ******************** line***/ init_echart("echart_tkwkwaskmanagement_tkwkwaskname_line",'tkwkwaskmanagement.tkwkwaskname_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_tkwkwaskname_bar" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 任务名称 ******************** bar***/ init_echart("echart_tkwkwaskmanagement_tkwkwaskname_bar",'tkwkwaskmanagement.tkwkwaskname_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_tkwkwaskname_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 任务名称 ******************** bar_v1***/ init_echart("echart_tkwkwaskmanagement_tkwkwaskname_bar_v1",'tkwkwaskmanagement.tkwkwaskname_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_platkwkwfkwkworm_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 平台 ******************** pie_v2***/ init_echart("echart_tkwkwaskmanagement_platkwkwfkwkworm_pie_v2",'tkwkwaskmanagement.platkwkwfkwkworm_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_platkwkwfkwkworm_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 平台 ******************** pie_v1***/ init_echart("echart_tkwkwaskmanagement_platkwkwfkwkworm_pie_v1",'tkwkwaskmanagement.platkwkwfkwkworm_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_platkwkwfkwkworm_pie" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 平台 ******************** pie***/ init_echart("echart_tkwkwaskmanagement_platkwkwfkwkworm_pie",'tkwkwaskmanagement.platkwkwfkwkworm_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_platkwkwfkwkworm_line" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 平台 ******************** line***/ init_echart("echart_tkwkwaskmanagement_platkwkwfkwkworm_line",'tkwkwaskmanagement.platkwkwfkwkworm_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_platkwkwfkwkworm_bar" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 平台 ******************** bar***/ init_echart("echart_tkwkwaskmanagement_platkwkwfkwkworm_bar",'tkwkwaskmanagement.platkwkwfkwkworm_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_platkwkwfkwkworm_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 平台 ******************** bar_v1***/ init_echart("echart_tkwkwaskmanagement_platkwkwfkwkworm_bar_v1",'tkwkwaskmanagement.platkwkwfkwkworm_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>






<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_messagecontent_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 私信内容 ******************** pie_v2***/ init_echart("echart_tkwkwaskmanagement_messagecontent_pie_v2",'tkwkwaskmanagement.messagecontent_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_messagecontent_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 私信内容 ******************** pie_v1***/ init_echart("echart_tkwkwaskmanagement_messagecontent_pie_v1",'tkwkwaskmanagement.messagecontent_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_messagecontent_pie" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 私信内容 ******************** pie***/ init_echart("echart_tkwkwaskmanagement_messagecontent_pie",'tkwkwaskmanagement.messagecontent_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_messagecontent_line" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 私信内容 ******************** line***/ init_echart("echart_tkwkwaskmanagement_messagecontent_line",'tkwkwaskmanagement.messagecontent_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_messagecontent_bar" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 私信内容 ******************** bar***/ init_echart("echart_tkwkwaskmanagement_messagecontent_bar",'tkwkwaskmanagement.messagecontent_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_messagecontent_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 私信内容 ******************** bar_v1***/ init_echart("echart_tkwkwaskmanagement_messagecontent_bar_v1",'tkwkwaskmanagement.messagecontent_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_scheduledtime_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 计划执行时间 ******************** pie_v2***/ init_echart("echart_tkwkwaskmanagement_scheduledtime_pie_v2",'tkwkwaskmanagement.scheduledtime_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_scheduledtime_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 计划执行时间 ******************** pie_v1***/ init_echart("echart_tkwkwaskmanagement_scheduledtime_pie_v1",'tkwkwaskmanagement.scheduledtime_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_scheduledtime_pie" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 计划执行时间 ******************** pie***/ init_echart("echart_tkwkwaskmanagement_scheduledtime_pie",'tkwkwaskmanagement.scheduledtime_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_scheduledtime_line" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 计划执行时间 ******************** line***/ init_echart("echart_tkwkwaskmanagement_scheduledtime_line",'tkwkwaskmanagement.scheduledtime_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_scheduledtime_bar" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 计划执行时间 ******************** bar***/ init_echart("echart_tkwkwaskmanagement_scheduledtime_bar",'tkwkwaskmanagement.scheduledtime_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_scheduledtime_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 计划执行时间 ******************** bar_v1***/ init_echart("echart_tkwkwaskmanagement_scheduledtime_bar_v1",'tkwkwaskmanagement.scheduledtime_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_status_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 任务状态 ******************** pie_v2***/ init_echart("echart_tkwkwaskmanagement_status_pie_v2",'tkwkwaskmanagement.status_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_status_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 任务状态 ******************** pie_v1***/ init_echart("echart_tkwkwaskmanagement_status_pie_v1",'tkwkwaskmanagement.status_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_status_pie" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 任务状态 ******************** pie***/ init_echart("echart_tkwkwaskmanagement_status_pie",'tkwkwaskmanagement.status_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_status_line" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 任务状态 ******************** line***/ init_echart("echart_tkwkwaskmanagement_status_line",'tkwkwaskmanagement.status_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_status_bar" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 任务状态 ******************** bar***/ init_echart("echart_tkwkwaskmanagement_status_bar",'tkwkwaskmanagement.status_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_status_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 任务状态 ******************** bar_v1***/ init_echart("echart_tkwkwaskmanagement_status_bar_v1",'tkwkwaskmanagement.status_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_createdtime_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 创建时间 ******************** pie_v2***/ init_echart("echart_tkwkwaskmanagement_createdtime_pie_v2",'tkwkwaskmanagement.createdtime_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_createdtime_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 创建时间 ******************** pie_v1***/ init_echart("echart_tkwkwaskmanagement_createdtime_pie_v1",'tkwkwaskmanagement.createdtime_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_createdtime_pie" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 创建时间 ******************** pie***/ init_echart("echart_tkwkwaskmanagement_createdtime_pie",'tkwkwaskmanagement.createdtime_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_createdtime_line" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 创建时间 ******************** line***/ init_echart("echart_tkwkwaskmanagement_createdtime_line",'tkwkwaskmanagement.createdtime_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_createdtime_bar" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 创建时间 ******************** bar***/ init_echart("echart_tkwkwaskmanagement_createdtime_bar",'tkwkwaskmanagement.createdtime_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_createdtime_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 创建时间 ******************** bar_v1***/ init_echart("echart_tkwkwaskmanagement_createdtime_bar_v1",'tkwkwaskmanagement.createdtime_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_updatedtime_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 更新时间 ******************** pie_v2***/ init_echart("echart_tkwkwaskmanagement_updatedtime_pie_v2",'tkwkwaskmanagement.updatedtime_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_updatedtime_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 更新时间 ******************** pie_v1***/ init_echart("echart_tkwkwaskmanagement_updatedtime_pie_v1",'tkwkwaskmanagement.updatedtime_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_updatedtime_pie" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 更新时间 ******************** pie***/ init_echart("echart_tkwkwaskmanagement_updatedtime_pie",'tkwkwaskmanagement.updatedtime_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_updatedtime_line" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 更新时间 ******************** line***/ init_echart("echart_tkwkwaskmanagement_updatedtime_line",'tkwkwaskmanagement.updatedtime_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_updatedtime_bar" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 更新时间 ******************** bar***/ init_echart("echart_tkwkwaskmanagement_updatedtime_bar",'tkwkwaskmanagement.updatedtime_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_tkwkwaskmanagement_updatedtime_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 任务管理表 更新时间 ******************** bar_v1***/ init_echart("echart_tkwkwaskmanagement_updatedtime_bar_v1",'tkwkwaskmanagement.updatedtime_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>






    </div>
  </body>
</html>
