<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>beta_基于django的多平台自动私信任务管理系统</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/echarts.js"></script>
    <style>
      body {
        color: black;
      }
      .bkimg {
        background-image: url('/static/imgs/default.png');
        background-repeat: no-repeat;
        background-size: cover;
        filter: opacity(90%);
        filter: brightness(10%);
        overflow: hidden;
      }
      .myechart_size {
        height: 450px;
      }
      .myechart_size-height-full {
        with: 95%;
        height: 480px;
      }
    </style>
    
    {% include 'config_visual/function_echart.html' %}
  </head>
  <body>
    <div class="bg-image" style="{% include 'config_visual/background.html' %}">
      <div class="row">
        <div class="d-flex justify-content-center">
          <h3 style="color:black; font-size: 30px; font-weight: bold;">beta_基于django的多平台自动私信任务管理系统 消息内容审核表(messagecontentreview)</h3>
        </div>
      </div>
      {% csrf_token %}





<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagecontentreview_content_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 消息内容 ******************** pie_v2***/ init_echart("echart_messagecontentreview_content_pie_v2",'messagecontentreview.content_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagecontentreview_content_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 消息内容 ******************** pie_v1***/ init_echart("echart_messagecontentreview_content_pie_v1",'messagecontentreview.content_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagecontentreview_content_pie" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 消息内容 ******************** pie***/ init_echart("echart_messagecontentreview_content_pie",'messagecontentreview.content_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_messagecontentreview_content_line" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 消息内容 ******************** line***/ init_echart("echart_messagecontentreview_content_line",'messagecontentreview.content_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagecontentreview_content_bar" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 消息内容 ******************** bar***/ init_echart("echart_messagecontentreview_content_bar",'messagecontentreview.content_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagecontentreview_content_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 消息内容 ******************** bar_v1***/ init_echart("echart_messagecontentreview_content_bar_v1",'messagecontentreview.content_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>






<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagecontentreview_platkwkwfkwkworm_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 平台名称 ******************** pie_v2***/ init_echart("echart_messagecontentreview_platkwkwfkwkworm_pie_v2",'messagecontentreview.platkwkwfkwkworm_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagecontentreview_platkwkwfkwkworm_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 平台名称 ******************** pie_v1***/ init_echart("echart_messagecontentreview_platkwkwfkwkworm_pie_v1",'messagecontentreview.platkwkwfkwkworm_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagecontentreview_platkwkwfkwkworm_pie" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 平台名称 ******************** pie***/ init_echart("echart_messagecontentreview_platkwkwfkwkworm_pie",'messagecontentreview.platkwkwfkwkworm_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_messagecontentreview_platkwkwfkwkworm_line" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 平台名称 ******************** line***/ init_echart("echart_messagecontentreview_platkwkwfkwkworm_line",'messagecontentreview.platkwkwfkwkworm_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagecontentreview_platkwkwfkwkworm_bar" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 平台名称 ******************** bar***/ init_echart("echart_messagecontentreview_platkwkwfkwkworm_bar",'messagecontentreview.platkwkwfkwkworm_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagecontentreview_platkwkwfkwkworm_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 平台名称 ******************** bar_v1***/ init_echart("echart_messagecontentreview_platkwkwfkwkworm_bar_v1",'messagecontentreview.platkwkwfkwkworm_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagecontentreview_reviewstatus_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 审核状态 ******************** pie_v2***/ init_echart("echart_messagecontentreview_reviewstatus_pie_v2",'messagecontentreview.reviewstatus_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagecontentreview_reviewstatus_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 审核状态 ******************** pie_v1***/ init_echart("echart_messagecontentreview_reviewstatus_pie_v1",'messagecontentreview.reviewstatus_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagecontentreview_reviewstatus_pie" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 审核状态 ******************** pie***/ init_echart("echart_messagecontentreview_reviewstatus_pie",'messagecontentreview.reviewstatus_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_messagecontentreview_reviewstatus_line" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 审核状态 ******************** line***/ init_echart("echart_messagecontentreview_reviewstatus_line",'messagecontentreview.reviewstatus_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagecontentreview_reviewstatus_bar" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 审核状态 ******************** bar***/ init_echart("echart_messagecontentreview_reviewstatus_bar",'messagecontentreview.reviewstatus_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagecontentreview_reviewstatus_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 审核状态 ******************** bar_v1***/ init_echart("echart_messagecontentreview_reviewstatus_bar_v1",'messagecontentreview.reviewstatus_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagecontentreview_reviewtime_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 审核时间 ******************** pie_v2***/ init_echart("echart_messagecontentreview_reviewtime_pie_v2",'messagecontentreview.reviewtime_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagecontentreview_reviewtime_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 审核时间 ******************** pie_v1***/ init_echart("echart_messagecontentreview_reviewtime_pie_v1",'messagecontentreview.reviewtime_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagecontentreview_reviewtime_pie" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 审核时间 ******************** pie***/ init_echart("echart_messagecontentreview_reviewtime_pie",'messagecontentreview.reviewtime_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_messagecontentreview_reviewtime_line" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 审核时间 ******************** line***/ init_echart("echart_messagecontentreview_reviewtime_line",'messagecontentreview.reviewtime_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagecontentreview_reviewtime_bar" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 审核时间 ******************** bar***/ init_echart("echart_messagecontentreview_reviewtime_bar",'messagecontentreview.reviewtime_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagecontentreview_reviewtime_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 审核时间 ******************** bar_v1***/ init_echart("echart_messagecontentreview_reviewtime_bar_v1",'messagecontentreview.reviewtime_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>






<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagecontentreview_rejectionrekwkwason_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 拒绝原因 ******************** pie_v2***/ init_echart("echart_messagecontentreview_rejectionrekwkwason_pie_v2",'messagecontentreview.rejectionrekwkwason_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagecontentreview_rejectionrekwkwason_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 拒绝原因 ******************** pie_v1***/ init_echart("echart_messagecontentreview_rejectionrekwkwason_pie_v1",'messagecontentreview.rejectionrekwkwason_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagecontentreview_rejectionrekwkwason_pie" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 拒绝原因 ******************** pie***/ init_echart("echart_messagecontentreview_rejectionrekwkwason_pie",'messagecontentreview.rejectionrekwkwason_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_messagecontentreview_rejectionrekwkwason_line" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 拒绝原因 ******************** line***/ init_echart("echart_messagecontentreview_rejectionrekwkwason_line",'messagecontentreview.rejectionrekwkwason_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagecontentreview_rejectionrekwkwason_bar" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 拒绝原因 ******************** bar***/ init_echart("echart_messagecontentreview_rejectionrekwkwason_bar",'messagecontentreview.rejectionrekwkwason_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagecontentreview_rejectionrekwkwason_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 拒绝原因 ******************** bar_v1***/ init_echart("echart_messagecontentreview_rejectionrekwkwason_bar_v1",'messagecontentreview.rejectionrekwkwason_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagecontentreview_kwkwissensitive_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 是否敏感内容 ******************** pie_v2***/ init_echart("echart_messagecontentreview_kwkwissensitive_pie_v2",'messagecontentreview.kwkwissensitive_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagecontentreview_kwkwissensitive_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 是否敏感内容 ******************** pie_v1***/ init_echart("echart_messagecontentreview_kwkwissensitive_pie_v1",'messagecontentreview.kwkwissensitive_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagecontentreview_kwkwissensitive_pie" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 是否敏感内容 ******************** pie***/ init_echart("echart_messagecontentreview_kwkwissensitive_pie",'messagecontentreview.kwkwissensitive_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_messagecontentreview_kwkwissensitive_line" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 是否敏感内容 ******************** line***/ init_echart("echart_messagecontentreview_kwkwissensitive_line",'messagecontentreview.kwkwissensitive_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagecontentreview_kwkwissensitive_bar" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 是否敏感内容 ******************** bar***/ init_echart("echart_messagecontentreview_kwkwissensitive_bar",'messagecontentreview.kwkwissensitive_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagecontentreview_kwkwissensitive_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 是否敏感内容 ******************** bar_v1***/ init_echart("echart_messagecontentreview_kwkwissensitive_bar_v1",'messagecontentreview.kwkwissensitive_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagecontentreview_createdat_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 创建时间 ******************** pie_v2***/ init_echart("echart_messagecontentreview_createdat_pie_v2",'messagecontentreview.createdat_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagecontentreview_createdat_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 创建时间 ******************** pie_v1***/ init_echart("echart_messagecontentreview_createdat_pie_v1",'messagecontentreview.createdat_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_messagecontentreview_createdat_pie" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 创建时间 ******************** pie***/ init_echart("echart_messagecontentreview_createdat_pie",'messagecontentreview.createdat_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_messagecontentreview_createdat_line" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 创建时间 ******************** line***/ init_echart("echart_messagecontentreview_createdat_line",'messagecontentreview.createdat_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagecontentreview_createdat_bar" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 创建时间 ******************** bar***/ init_echart("echart_messagecontentreview_createdat_bar",'messagecontentreview.createdat_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_messagecontentreview_createdat_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 消息内容审核表 创建时间 ******************** bar_v1***/ init_echart("echart_messagecontentreview_createdat_bar_v1",'messagecontentreview.createdat_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



    </div>
  </body>
</html>
